@charset "utf-8";

body{
	background-color:rgba(210,210,210,1.00);
	
	}

.navbar{
	border-radius:0px 0px 0px 0px;
	border:0px;
	}

.container-fluid{
	padding-right:90px;
	background:rgba(0,0,0,1.00);
	height:50px;
	}
.nav-content{
	font-size:21px;
	font-weight:bold;
	font-family:"Adobe Arabic";
	color:rgba(211,211,211,1.00);
	}
ul li:hover{
	background-color:rgba(0,0,0,1.00);
	}

.dropdown-menu{
	background-color:rgba(0,0,0,1.00);
	}			
.dropdown-menu .dropdown-a{
	color:rgba(211,211,211,1.00);
	font-family:"Adobe Arabic";
	font-size:16px;
	}
.dropdown-menu .dropdown-a:hover{
	background-color:rgba(214,214,214,1.00);
	}	
.caret{
	color:rgba(211,211,211,1.00);
	}
.exit{
	float:left;
	width:80px;
	height:33px;
	margin-left:150px;
	margin-top:9px;
	border-radius:5px;
	border:0px;
	font-family:"adobe arabic";
	font-size:20px;
	font-weight:bold;
	padding-top:3px;
	background-color:rgba(188,37,40,1.00);
	color:rgba(216,216,216,1.00);
	}	
.glyphicon{
	font-size:15px;
	}
.exit:hover{
	width:90px;
	height:51px;
	margin-top:0px;
	color:rgba(245,245,245,1.00);
	margin-left:146px;
	font-size:22px;
	}		
	
.div1{
	width:70%;
	height:58px;
	background-color:rgba(223,136,50,1.00);
	text-align:center;
	direction:rtl;
	margin:auto;
	border-radius:8px;
	padding-top:12px;

	}
	
#enter{
	font-family:"adobe arabic";
	font-size:23px;
	font-weight:bold;
	
	}
	
	
.table1{
	direction:rtl;
	width:95%;
	height:auto;
	margin:auto;
	margin-top:30px;
	background-color:rgba(0,0,0,0.50);
	
	}
th{
	color:rgba(49,209,192,1.00);
  	background:#1b1e24;
  	border-bottom:4px solid #9ea7af;
  	border-right: 1px solid #343a45;
  	font-size:20px;
  	font-weight:bold;
  	padding:12px;
  	text-align:center;
	font-family:"Adobe Arabic";
	height:40px;
	padding-right:10px;
	
	}	
tr{
	}

tr:nth-child(odd) td {
  background:rgba(0,0,0,0.08);
}

td {
  background:rgba(228,228,228,0.15);
  padding:10px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:22px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
  border-right: 1px solid #C1C3D1;
  color:rgba(120,13,15,1.00);
  font-family:"Adobe Arabic";
  }

.horse{
	padding:0px;
	float:right;
	margin-right:3px;
	width:25px;
	height:25px;
	border:0px;
	border-radius:4px;
	background-color:rgba(0,0,0,0.01); 
	}

.horse1{
	margin-right:7px;
	padding:0px;
	float:right;
	width:25px;
	height:25px;
	border:0px;
	border-radius:4px;
	background-color:rgba(0,0,0,0.01); 
	}

#glyph{
	font-size:19px;
	color:rgba(228,152,57,1.00);
	}

.horse2{
	width:70px;
	height:46px;
	float:right;
	margin-right:80px;
	margin-top:70px;
	background-color:rgba(10,115,52,1.00);
	border:0px;
	border-radius:7px;
	margin-bottom:80px;

	}

.horse2:hover{
	background-color:rgba(35,183,98,1.00);
	}	

#glyph1{
	font-size:20px;
	color:rgba(255,255,255,1.00);
	}
			
.change{
	width:98px;
	height:46px;
	float:right;
	margin-top:70px;
	margin-right:190px;
	border-radius:5px;
	border:0px;
	background-color:rgba(14,112,53,1.00)
	
	}	
	
.change:hover{
	background-color:rgba(35,183,98,1.00);
	}	
	
.emal{
	font-family:"adobe arabic";
	font-size:19px;
	font-weight:bold;
	color:rgba(244,244,244,1.00);
	
	}

.input1{
	width:100px;
	height:30px;
	border-radius:5px;
	border:0px;
	background-color:rgba(199,199,199,1.00);
	text-align:center;
	}	

.input2{
	width:65px;
	height:30px;
	border-radius:5px;
	border:0px;
	background-color:rgba(199,199,199,1.00);
	text-align:center;
	}
		
.input3{
	width:50px;
	height:30px;
	border-radius:5px;
	border:0px;
	background-color:rgba(199,199,199,1.00);
	text-align:center;
	}
		
.input4{
	width:35px;
	height:30px;
	border-radius:5px;
	border:0px;
	background-color:rgba(199,199,199,1.00);
	text-align:center;
	}
		
.input5{
	width:75px;
	height:30px;
	border-radius:5px;
	border:0px;
	background-color:rgba(199,199,199,1.00);
	text-align:center;
	}
		
.input6{
	width:75px;
	height:30px;
	border-radius:5px;
	border:0px;
	background-color:rgba(199,199,199,1.00);
	text-align:center;
	}	
	
.input7{
	width:75px;
	height:30px;
	border-radius:5px;
	border:0px;
	background-color:rgba(199,199,199,1.00);
	text-align:center;
	}	
	
.input8{
	width:75px;
	height:30px;
	border-radius:5px;
	border:0px;
	background-color:rgba(199,199,199,1.00);
	text-align:center;
	}
	
.input9{
	width:75px;
	height:30px;
	border-radius:5px;
	border:0px;
	background-color:rgba(199,199,199,1.00);
	text-align:center;
	}
	
.input10{
	width:35px;
	height:30px;
	border-radius:5px;
	border:0px;
	background-color:rgba(199,199,199,1.00);
	text-align:center;
	}
	
.input11{
	width:35px;
	height:30px;
	border-radius:5px;
	border:0px;
	background-color:rgba(199,199,199,1.00);
	text-align:center;
	}
	
.input12{
	width:35px;
	height:30px;
	border-radius:5px;
	border:0px;
	background-color:rgba(199,199,199,1.00);
	text-align:center;
	}
	
.input13{
	width:35px;
	height:30px;
	border-radius:5px;
	border:0px;
	background-color:rgba(199,199,199,1.00);
	text-align:center;
	}
	
.input14{
	width:35px;
	height:30px;
	border-radius:5px;
	border:0px;
	background-color:rgba(199,199,199,1.00);
	text-align:center;
	}
.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    display: none;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:rgba(10,67,168,1.00);
  color:white;
  cursor: pointer;
  padding: 15px;
  border-radius:50px;
}	
	
	