@charset "utf-8";
body{
	background-image:url(../images/back.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	}
.div1{
	border:0px;;
	width:100%;
	height:90px;
	margin-top:20px;
	}
.mainpage{
	border:0px;
	width:120px;
	height:55px;
	float:right;
	margin-right:110px;
	margin-top:10px;
	font-family:"Adobe Arabic";
	font-size:25px;
	font-weight:bold;
	border-radius:20px 10px 20px 10px;
	background-color:rgba(0,0,0,0.61);
	color:rgba(188,188,188,1.00);
	}
.mainpage:hover{
	background-color:rgba(0,0,0,0.80);
	color:rgba(221,221,221,1.00);
	}
	
.dropdown{
	float:right;
		
	}
.btn{
	width:120px;
	height:55px;
	margin-right:40px;
	margin-top:10px;
	border:0px;
	border-radius:20px 10px 20px 10px;
	background-color:rgba(0,0,0,0.61);
	color:rgba(188,188,188,1.00);
	font-family:"Adobe Arabic";
	font-size:20px;
	font-weight:bold;
	}
.btn:hover{
	background-color:rgba(0,0,0,0.80);
	color:rgba(221,221,221,1.00);
	}
.btn:visited{
	background-color:rgba(0,0,0,0.80);
	color:rgba(221,221,221,1.00);
	}
.dropdown-menu{
	margin-right:20px;
	background-color:rgba(0,0,0,0.73);
	border-radius:10px;
	}
.dropdown-menu:hover{
	color:rgba(192,38,41,1.00)
	}


.dropdown-menu .drop{
	color:rgba(206,206,206,1.00);
	font-family:"Adobe Arabic";
	font-size:18px;
	
	}
.dropdown-menu .aszx:hover{
	background-color:rgba(0,0,0,0.85);
	}
	
.div2{
	border:0px;
	width:100%;
	height:80px;
	margin-top:40px;
	direction:rtl;
	}
.info3{
	border:0px;
	border-radius:5px;
	width:90px;
	height:50px;
	background-color:rgba(7,34,140,0.85);
	color:rgba(241,244,136,1.00);
	font-family:"Adobe Arabic";
	font-size:20px;
	font-weight:bold;
	margin-right:5px;
	margin-top:20px;
	}
	
.info12{
	border:0px;
	border-radius:5px;
	width:90px;
	height:50px;
	background-color:rgba(84,106,235,0.41);
	color:rgba(54,5,5,1.00);
	font-family:"Adobe Arabic";
	font-size:20px;
	font-weight:bold;
	margin-right:5px;
	margin-top:20px;
	}
.info23:hover{
	background-color:rgba(62,68,135,0.67);
	}
hr{
	border:0px;
	border-radius:3px;
	height:6px;
	background-color:rgba(0,0,0,0.39);
	width:90%;
	}
	
.table1{
	direction:rtl;
	width:70%;
	height:auto;
	margin:auto;
	margin-top:30px;
	background-color:rgba(0,0,0,0.50);
	
	
	}
th{
	color:rgba(99,233,214,1.00);
  	background:#1b1e24;
  	border-bottom:4px solid #9ea7af;
  	border-right: 1px solid #343a45;
  	font-size:20px;
  	font-weight:bold;
  	padding:24px;
  	text-align:center;
	font-family:"Adobe Arabic";
	height:40px;
	padding-right:10px;
	
	}	

tr:nth-child(odd) td {
  background:rgba(0,0,0,0.08);
}

td {
  background:rgba(228,228,228,0.1);
  padding:10px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:22px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
  border-right: 1px solid #C1C3D1;
  color:rgba(224,224,224,0.84);
  font-family:"Adobe Arabic";
  }



	
